/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * erbaum:
 *   - http://typekit.com/eulas/00000000000000003b9aed99
 * filson-pro:
 *   - http://typekit.com/eulas/0000000000000000000157bf
 *   - http://typekit.com/eulas/0000000000000000000157c0
 *   - http://typekit.com/eulas/0000000000000000000157c9
 *   - http://typekit.com/eulas/0000000000000000000157ca
 * filson-soft:
 *   - http://typekit.com/eulas/00000000000000003b9ade5c
 *   - http://typekit.com/eulas/00000000000000003b9ade5b
 *   - http://typekit.com/eulas/00000000000000003b9ade54
 *   - http://typekit.com/eulas/00000000000000003b9ade63
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-12-21 04:30:03 UTC"}*/


@font-face {
font-family:"filson-pro";
src:url("filson-pro-700.woff2") format("woff2"),url("filson-pro-700.otf") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"filson-pro";
src:url("filson-pro-400.woff2") format("woff2"),url("filson-pro-400.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"filson-soft";
src:url("filson-soft-700.woff2") format("woff2"),url("filson-soft-700.woff") format("woff"),url("filson-soft-700.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"filson-soft";
src:url("filson-soft-400.woff2") format("woff2"),url("filson-soft-400.woff") format("woff"),url("filson-soft-400.otf") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}


@font-face {
font-family:"erbaum";
src:url("erbaum-400.woff2") format("woff2"),url("erbaum-400.woff") format("woff"),url("erbaum-400.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-filson-pro { font-family: "filson-pro",sans-serif; }
.tk-filson-soft { font-family: "filson-soft",sans-serif; }
.tk-erbaum { font-family: "erbaum",sans-serif; }

@font-face {
  font-family: 'PN-EB';
  src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Extrabld.otf')  format('opentype'),
  url('ProximaNova-Extrabld.woff') format('woff'), url('ProximaNova-Extrabld.ttf')  format('truetype'), url('ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'PN-R';
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Regular.otf')  format('opentype'),
  url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf')  format('truetype'), url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PN-B';
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Bold.otf')  format('opentype'),
  url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf')  format('truetype'), url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'PN-Thin';
  src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaT-Thin.otf')  format('opentype'),
  url('ProximaNovaT-Thin.woff') format('woff'), url('ProximaNovaT-Thin.ttf')  format('truetype'), url('ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PN-SB';
  src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Semibold.otf')  format('opentype'),
  url('ProximaNova-Semibold.woff') format('woff'), url('ProximaNova-Semibold.ttf')  format('truetype'), url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.erbaum{
  font-family:'erbaum',sans-serif;
  font-weight:400;
}
.erbaum-bold{
  font-family:'erbaum',sans-serif;
  font-weight:900 !important;
}
.filson-pro-reg{
  font-family:'filson-pro',sans-serif;
  font-weight:400;
}
.filson-pro-bold{
  font-family:'filson-pro',sans-serif;
  font-weight:700 !important;
}
.filson-soft-reg{
  font-family:'filson-soft',sans-serif;
  font-weight:400;
}
.filson-soft-bold{
  font-family:'filson-soft',sans-serif;
  font-weight:700 !important;
}
.proxima-eb{
	font-family:'PN-EB';
}
.proxima-r{
	font-family:'PN-R';
}
.proxima-b{
	font-family:'PN-B';
}
.proxima-sb{
  font-family:'PN-SB';
}
.proxima-t{
	font-family:'PN-Thin';
}